.scanner-scene {
  padding: 1.5rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  justify-items: center;

  &__instruction {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    color: #111;

    @media (max-width: 640px) {
      background: rgba(255, 255, 255, .6);
      backdrop-filter: blur(10px);
      padding: 0.5rem;
    }
  }

  &__video-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 640px;
    overflow: hidden;
    border-radius: 16px;
    border: 2px solid #f97316;

    @media (max-width: 640px) {
      border: 0;
      border-radius: 0;
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  &__object-detector {
    border: dashed 1px #ffef24;
    bottom: 0.75rem;
    color: transparent;
    display: none;
    height: calc(100vh - 1.5rem);
    left: 0.75rem;
    width: calc(100% - 1.5rem);
    position: fixed;
    right: 0.75rem;
    top: 0.75rem;

    @media (max-width: 640px) {
      display: block;
    }
  }

  &__video {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;

    @media (max-width: 640px) {
      height: 100vh;
      width: 100vw;
    }
  }

  &__btn-scan {
    margin-top: 1rem;
    padding: 1rem 2.5rem;
    font-size: 1.1rem;
    background: linear-gradient(135deg, #f97316, #ffb347);
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;

    @media (max-width: 640px) {
      bottom: 1.5rem;
      position: fixed;
      width: calc(100% - 3rem);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &__modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  &__modal {
    background: #fff;
    padding: 2rem;
    border-radius: 16px;
    text-align: center;
    display: grid;
    gap: 1rem;
    width: 640px;
    font-size: 1.1rem;

    @media (max-width: 640px) {
      width: calc(100% - 3rem);
    }
  }

  &__modal-image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  &__btn-close {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    background: linear-gradient(135deg, #10b981, #3b82f6);
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    width: fit-content;
  }
}
